.competition__promo-container {
    width: 320px;
	background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
}

.competition__title {
	font-size: 24px;
    font-weight: 300;
    color: #fff;
}

