.competition__promo-container {
    width: 320px;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    margin: 0 auto;
}

.competition__title {
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    width: 250px;
    margin: 0 auto;
}

@media (min-width: @tablets) {
    .competition__title {
    font-size: 50px;
    line-height: 55px;
    width: 477px;
    }
}
