.download {
  background-color: #1d2631;
  margin: 0 auto;
}


@media (min-width: @tablets) {
  .download__wrapper {
    width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: @desktops) {
  .download__wrapper {
    width: 940px;
    margin: 0 auto;
  }
}


@media (min-width: @tablets) {
  .download {
    background-image: url("../img/iphone-hand-tablet@1x.png"), url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, bottom;
    height: 616px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-tablet@2x.png"), url("../img/bg-back-tablet@2x.jpg");
      background-size: 700px auto, 1200px auto;
    }
  }
}

@media (min-width: @desktops) {
  .download {
    background-image: url("../img/iphone-hand-desktop@1x.png"), url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 100% bottom, bottom;
    min-height: 853px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-hand-desktop@2x.png"), url("../img/bg-back-desktop@2x.jpg");
      background-size: 1100px auto, 2560px auto;
    }
  }
}

.download__img-container {
  background-image: url("../img/iphone-hand-mobile@1x.png"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 258px 286px, cover;
  background-position: bottom, center;
  height: 394px;
//height: 462px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-hand-mobile@2x.png"), url("../img/bg-back-mobile@2x.jpg");
    background-size: 258px auto, 700px auto;
  }
}

@media (min-width: @tablets) {
  .download__img-container {
    display: none;
    background-image: none;
  }
}

.download__img {
  margin-top: 176px;
  margin-bottom: 28px;
}

@media (max-width: 600px) {
  .download__intro {
    .hidden();
  }
}

.download__intro {
  margin: 0;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
  width: 200px;
  padding-top: 91px;
  padding-left: 50px;
}

@media (min-width: @desktops) {
  .download__intro {
    padding: 0;
    padding-top: 219px;
    padding-left: 30px;
    font-size: 50px;
    line-height: 60px;
    width: 240px;
  }
}

.download__btn {
  display: block;
  margin: 0 auto;
  font-family: "Open Sans", "Arial", sans-serif;
  padding: 18px 35px;
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  border: 3px solid white;
  background-color: transparent;
  border-radius: 40px;
  margin-top: 28px;
  cursor: pointer;

  &:hover {
    background-color: #ffffff;
    color: @text-pink;
  }

  &:active {
    background-color: #ffffff;
    color: rgba(210, 40, 86, 0.3);
  }
}

@media (min-width: @tablets) {
  .download__btn {
    width: 300px;
    padding: 15px 20px;
    margin-left: 2px;
    margin-top: 30px;
  }
}

@media (min-width: @desktops) {
  .download__btn {
    font-size: 21px;
    padding: 15px 20px;
    margin-top: 50px;
    margin-left: 3px;
  }
}

.download__icon-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  width: 243px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

@media (min-width: @tablets) {
  .download__icon-list {
    width: 210px;
    padding-left: 35px;
    margin: 0;
    margin-top: 20px;
  }
}

@media (min-width: @desktops) {
  .download__icon-list {
    margin-top: 40px;
    padding-left: 42px;
  }
}

@media (min-width: @desktops) {
  .download__icon-item:nth-of-type(2),
  .download__icon-item:nth-of-type(3) {
    padding-left: 35px;
  }
}

.download__text {
  color: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  padding-bottom: 28px;
}

@media (min-width: @tablets) {
  .download__text {
    font-size: 18px;
    line-height: 24px;
    width: 300px;
    padding-top: 10px;
  }
}

@media (min-width: @desktops) {
  .download__text {
    padding-top: 30px;
  }
}
