.download {
	background-color: #1d2631;
}

.download__img {
	
}

.download__btn {
    font-family: "Open sans";
    padding: 20px 40px;
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    border: 3px solid white;
    background-color: #1d2631;
    border-radius: 40px;
}

.download__icon {
	
}

.icon {
	
}

.icon__list {
	
}

.icon__item {
	
}

.download__text {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
}