.features {
	background-color: #f2f2f2;
}

.features__intro-text {
    color: @text-darkblue;
    font-size: 24px;
}

.features__list {
	list-style: none;
}

.features__title {
    font-size: 18px;
    line-height: 24px;
    color: @text-darkblue;
    font-weight: 700;
}

.features__text {
    font-size: 14px;
    line-height: 24px;
    color: @text-darkblue;
}