.footer {
	padding: 0 20px;
}

.footer__intro {
	color: @text-darkblue;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    padding-bottom: 42px;
}

.footer__list {
	margin: 0;
    padding: 0;
}

.footer__title {
    margin: 0;
    padding: 0;
    padding-bottom: 12px;
    color: @text-darkblue;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.footer__text {
    margin: 0;
    padding: 0;
    padding-bottom: 26px;
    font-size: 24px;
	color: @text-pink;
    font-weight: 300;
    text-align: center;
}