.footer__intro {
	color: @text-darkblue;
    font-size: 24px;
    font-weight: 300;
}

.footer__title {
    color: @text-darkblue;
    font-size: 18px;
    font-weight: 700;
}

.footer__text {
    font-size: 24px;
	color: @text-pink;
    font-weight: 300;
}