ul {
    list-style: none;
}

.form__intro {
    font-size: 14px;
    line-height: 30px;
    color: @text-darkblue;
}

.form__label {
	font-size: 14px;
    line-height: 30px;
    color: @text-pink;
}

.form__input {
    width: 276px;
	border: 2px solid lightgray;
    padding-top: 19px;
    padding-right: 79px;
    padding-bottom: 19px;
    padding-left: 20px;
}

.form__fieldset {
	border: 0px;
}

.form__legend {
	font-size: 14px;
    line-height: 18px;
    color: @text-pink;
}

.achiev {
	background-color: #f2f2f2;
}

.achiev__label {
	font-size: 18px;
    line-height: 30px;
    color: @text-darkblue;
}

.platform {
	background-color: #f2f2f2;
}

.platform__label {
	font-size: 18px;
    line-height: 30px;
    color: @text-darkblue;
}

.submit-btn {
    font-family: inherit;
    padding: 20px 43px;
	font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background-color: @btn-green;
    border: none;
    border-radius: 3px;
}

.form__note {
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: @text-darkblue;
}

.sup {
    color: @text-pink;
}

