
@media (min-width: @desktops) {
  .header {
    width:  auto;
    background-color: #283645;
  }

  .header__wrapper {
    display: flex;
    width: 940px;
    margin: 0 auto;
    justify-content: space-between;
  }
}

.navigation {
  margin: 0 auto;
  background-color: #283645;
}

.navigation__toggle {
  position: absolute;
  display: block;
  top: 20px;
  right: 20px;
  width: 70px;
  height: 50px;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}

.navigation--closed .navigation__toggle::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 20px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}

.navigation--opened .navigation__toggle {
  top: 10px;
  right: 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.navigation--closed .navigation__list {
  display: none;
}

.navigation__logo-container {
  background-color: #283645;
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 20px 0;
}

@media (min-width: @tablets) {
  .navigation__logo-container {
    padding-top: 27px;
    padding-bottom: 37px;
  }
}

@media (min-width: @desktops) {
  .navigation__logo-container {
    padding: 0;
    margin-right: auto;
    padding-top: 27px;
    width: 147px;
    height: 41px;
  }
}

@media (min-width: @desktops) {
  .navigation__toggle {
    .hidden();
  }
}

@media (min-width: @tablets) {
  .navigation {
    margin: 0 auto;
  }
}

@media (min-width: @desktops) {
  .navigation {
    width: 650px;
    margin: 0;

  }
}

@media (min-width: @desktops) {
  .navigation__wrapper {

  }
}

.navigation__logo {
  padding-left: 20px;
  text-decoration: none;
  align-self: center;
}

@media (min-width: @desktops) {
  .navigation__logo {
    padding-left: 0;
  }
}
.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navigation__item {
  background-color: #283645;
}

@media (min-width: @desktops) {
  .navigation__item:nth-of-type(1),
  .navigation__item:nth-of-type(2),
  .navigation__item:nth-of-type(3) {
    padding-right: 79px;
    box-sizing: border-box;
  }
}


@media (min-width: @desktops) {
  .navigation__list {
    display: flex;
    margin-left: 30px;
  }
}

.navigation__link {
  display: block;
  font-family: "Open Sans", "Arial", sans-serif;
  padding: 16px 50px;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow:
    0 -1px 0 rgba(0, 0, 0, 1),
    inset 0 1px 0 rgba(255, 255, 255, 0.15);

  &:last-of-type {
    box-shadow:
      0 -1px 0 rgba(0, 0, 0, 1),
      inset 0 -1px 0 rgba(0, 0, 0, 1),
      inset 0 1px 0 rgba(255, 255, 255, 0.15);
  }
}

@media (min-width: @desktops) {
  .navigation__link {
    padding: 0;
    padding-top: 46px;
    padding-bottom: 49px;
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
    box-shadow: 0 0 0;

    &:last-of-type {
      box-shadow: 0 0 0;
    }
  }
}

.navigation__uppercase {
  text-transform: uppercase;
}
