.navigation {
  position: relative;
  margin: 0 auto;
  background-color: #283645;
}

.navigation__toggle {
  position: absolute;
  display: block;
  top: 0;
  right: 20px;
}

@media (min-width: @desktops) {
  .navigation__toggle {
	.hidden();
  }
}

@media (min-width: @tablets) {
  .navigation {
    margin: 0 auto;
  }
}

@media (min-width: @desktops) {
  .navigation {
    width: auto;
  }
}

@media (min-width: @desktops) {
  .navigation__wrapper {
    width: 940px;
    padding: 20px 45px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

.navigation__logo {
  padding-left: 20px;
  text-decoration: none;
  align-self: center;
}

.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

@media (min-width: @desktops) {
  .navigation__list {
    display: flex;
  }
}

.navigation__link {
  display: block;
  font-family: "Open Sans", "Arial", sans-serif;
  padding: 27px 79px;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow:
    0 -1px 0 rgba(0, 0, 0, 1),
    inset 0 1px 0 rgba(255, 255, 255, 0.15);

  &:last-of-type {
    box-shadow:
      0 -1px 0 rgba(0, 0, 0, 1),
      inset 0 -1px 0 rgba(0, 0, 0, 1),
      inset 0 1px 0 rgba(255, 255, 255, 0.15);
  }
}

@media (min-width: @desktops) {
  .navigation__link {
    padding: 0;
    padding-top: 49px;
    padding-bottom: 49px;
    margin-left: 79px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    text-transform: none;
    box-shadow: 0 0 0;

    &:last-of-type {
      box-shadow: 0 0 0;
    }
  }
}
