.price {
  position: relative;
  background-color: #f2f2f2;
  // padding: 0 20px;
}

.price::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/bg-triangle-white.svg") no-repeat center top;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.price__wrapper {
  position: relative;
  margin: 0 auto;
  padding-top: 125px;
  padding-bottom: 12px;
}

@media (min-width: @tablets) {
  .price__wrapper {
    width: 660px;
    margin: 0 auto;
    padding-top: 110px;
    padding-bottom: 45px;
  }
}

@media (min-width: @desktops) {
  .price__wrapper {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 70px;
  }
}

.price__table {
  margin: 0 auto;
  background-color: #ffffff;
  border-collapse: collapse;
}

@media (min-width: @desktops) {
  .price__table {
    margin-top: 30px;
  }
}

.price__header {
  box-sizing: border-box;
  padding: 19px;
  background-color: @text-darkblue;
  border: 2px solid #e5e5e5;
  text-align: center;

  &:first-of-type {
    border: 2px solid #f2f2f2;
    background: #f2f2f2;
  }
}

@media (min-width: @tablets) {
  .price__header {
    padding: 10px 27px;
  }
}

@media (min-width: @desktops) {
  .price__header {
    padding: 18px 70px;
  }
}

.price__name {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}

@media (min-width: @tablets) {
  .price__name {
    font-size: 16px;
  }
}

.price__cost {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
}

@media (min-width: @tablets) {
  .price__cost {
    font-size: 18px;
  }
}

.price__header--best {
  // position: relative;
}

.price__hit {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-45deg);
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300; //в макете тут semibold
  z-index: 50;
}

.price__cell {
  box-sizing: border-box;
  position: relative;
  height: 61px;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 22px;
  border: 2px solid #e5e5e5;
  font-size: 14px;
  line-height: 30px;
  color: @text-darkblue;
  text-transform: uppercase;
}

@media (min-width: @tablets) {
  .price__cell {
    padding: 7px 22px;
    text-transform: none;
  }
}

@media (min-width: @desktops) {
  .price__cell {
    font-size: 18px;
    padding: 15px 40px;
  }
}

.price__cell--on::before {
  content: "";
  display: block;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-image: url("../img/icon-yes.svg");
  background-size: 31px 21px;
  width: 30px;
  height: 30px;
}

.price__cell--off::before {
  content: "";
  display: block;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-image: url("../img/icon-no.svg");
  background-size: 27px 27px;
  width: 30px;
  height: 30px;
}

@media (max-width: 659px) {
  .price__wrapper {
    overflow: hidden;
    display: flex;

    &::before,
    &::after {
      content: "";
      width: 20px;
      height: 50px;
      flex-shrink: 0;
      order: 2;
    }
  }

  .price__table {
    order: 2;
  }

  .price__header {
    min-width: 278px;
  }

  .price__header:first-of-type {
    position: absolute;
    border: transparent;
    background: transparent;
  }

  .price__cell:first-of-type {
    position: absolute;
    width: 190px;
    left: 23px;
    border-right: none;
    border-left: none;
    height: 63px;
  }

  .price__table--base {
    transform: translateX(0);
  }

  .price__table--base .price__cell:first-of-type {
    transform: translateX(-20px);
  }

  .price__table--standard {
    transform: translateX(-278px);
  }

  .price__table--standard .price__cell:first-of-type {
    transform: translateX(258px);
  }

  .price__table--unlim {
    transform: translateX(-556px);
  }

  .price__table--unlim .price__cell:first-of-type {
    position: absolute;
    transform: translateX(536px);
  }

  .price__cell--on::before {
    left: 243px;
  }

  .price__cell--off::before {
    left: 245px;
    transform: translate(-50%, -50%);
  }
}

.price__toggles {
  display: flex;
  justify-content: center;
  padding-bottom: 41px;
}
