.price {
  position: relative;
  background-color: #f2f2f2;
}

.price::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/bg-triangle-white.svg") no-repeat center top;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.price__wrapper {
  position: relative;
  width: 320px;
  overflow: scroll;
  margin: 0 auto;
  padding-top: 130px;
  padding-bottom: 65px;
}

@media (min-width: @tablets) {
  .price__wrapper {
    width: 660px;
    overflow: none;
    margin: 0 auto;
    padding-top: 110px;
    padding-bottom: 45px;
  }
}

@media (min-width: @desktops) {
  .price__wrapper {
    width: 100%;
    overflow: none;
    margin: 0 auto;
    padding-bottom: 70px;
  }
}

.price__table {
  margin: 0 auto;
  background-color: #ffffff;
  border-collapse: collapse;
}

@media (min-width: @desktops) {
  .price__table {
    margin-top: 30px;
}
}

.price__header {
  padding: 19px 90px;
  background-color: @text-darkblue;
  border: 2px solid #e5e5e5;

  &:first-of-type {
    background-color: #f2f2f2;
  }
}

@media (min-width: @tablets) {
  .price__header {
    padding: 10px 27px;

    &:first-of-type {
      border: 0;
    }
  }
}

@media (min-width: @desktops) {
  .price__header {
    padding: 18px 70px;
}
}

.price__name {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
}

@media (min-width: @tablets) {
  .price__name {
    font-size: 16px;
  }
}

.price__cost {
  width: 100px;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
}

@media (min-width: @tablets) {
  .price__cost {
    font-size: 18px;
  }
}

.price__header--best {
  position: relative;
}

.price__hit {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-45deg);
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300; //в макете тут semibold
  z-index: 50;
}

.price__cell {
  position: relative;
  padding-left: 10px;
  padding-top: 12px;
  padding-bottom: 22px;
  border: 2px solid #e5e5e5;
  font-size: 14px;
  line-height: 30px;
  color: @text-darkblue;
  text-transform: uppercase;
}

@media (min-width: @tablets) {
  .price__cell {
    padding: 7px 22px;
    text-transform: none;
  }
}

@media (min-width: @desktops) {
  .price__cell {
    font-size: 18px;
    padding: 15px 40px;
  }
}

.price__cell--on::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-image: url("../img/icon-yes.svg");
  background-size: 31px 21px;
  width: 30px;
  height: 30px;
}

.price__cell--off::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-image: url("../img/icon-no.svg");
  background-size: 27px 27px;
  width: 30px;
  height: 30px;
}

.price__toggles {
  display: flex;
  justify-content: center;
}
