.price {
    background-color: #f2f2f2;
}

.price__table {
    margin: 0 auto;
	background-color: #fff;
    border-collapse: collapse;
}

.price__header {
    padding: 23px 90px;
	background-color: @text-darkblue;
}

.price__name {
	font-size: 18px;
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.price__cost {
	font-size: 24px;
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
}

.price__hit {
	font-size: 14px;
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300; //в макете тут semibold
}

.price__cell {
    padding-left: 21px;
    padding-top: 22px;
    padding-bottom: 22px;
    border: 2px solid #e5e5e5;
	font-size: 14px;
    line-height: 30px;
    color: @text-darkblue;
    text-transform: uppercase;
}