.reviews {
  z-index: 20;
  padding: 0 20px;
}


@media (min-width: @desktops) {
  .reviews {
    padding-top: 150px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 73px;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      width: 79px;
      height: 64px;
      background-image: url("../img/icon-quotes.svg");
      background-repeat: no-repeat;
    }
  }
}


.reviews__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablets) {
  .reviews__item {
    display: flex;
    flex-direction: column;
  }
}

.reviews__title {
  margin-bottom: 0;
  padding-bottom: 10px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

@media (min-width: @tablets) {
  .reviews__title {
    padding-bottom: 3px;
  }
}

@media (max-width: 600px) {
  .reviews__about-user {
    .hidden();
  }
}

@media (min-width: @tablets) {
  .reviews__about-user {
    margin: 0;
    font-size: 14px;
    line-height: 30px;
    color: @text-darkblue;
    order: 3;
    text-align: center;
    padding-bottom: 26px;
  }
}

@media (min-width: @desktops) {
  .reviews__about-user {
    font-size: 18px;
  }
}

@media (min-width: @tablets) {
  .reviews__title {
    font-size: 20px;
    order: 2;
    margin: 0;
  }
}

@media (min-width: @desktops) {
  .reviews__title {
    font-size: 24px;
  }
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
  color: @text-darkblue;
  text-align: center;
  width: 280px;
  margin: 0 auto;
  padding-bottom: 25px;
}

@media (min-width: @tablets) {
  .reviews__text {
    font-size: 18px;
    width: 620px;
    padding-bottom: 30px;
  }
}

@media (min-width: @desktops) {
  .reviews__text {
    width: 695px;
    padding-top: 36px;
    padding-bottom: 35px;
  }
}

.reviews__btn-container {
	position: relative;
}

@media(max-width: @desktops) {
  .reviews__arrow-btn {
    display: none;
  }
}

.reviews__arrow-btn {
  display: none;
}

@media (min-width: @desktops) {
  .reviews__arrow-btn {
    display: block;
    position: absolute;
    top: -200px;
    border: 0;
    background-color: transparent;
    width: 22px;
    height: 42px;
    opacity: 0.3;
    cursor: pointer;

    &--prev {
      left: 10%;
      background-image: url("../img/icon-review-arrow-left.svg");
      background-repeat: no-repeat;
    }

    &--next {
      right: 10%;
      background-image: url("../img/icon-review-arrow-right.svg");
      background-repeat: no-repeat;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }
  }
}

.reviews__toggles {
  display: flex;
  justify-content: center;
}

.slider__toggle {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 50%;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
  }

  &--active::before {
    border: 3px solid black;
    background-color: white;
  }
}
