.reviews {
	z-index: 20;
    padding: 0 20px;
}

.reviews__list {
	list-style: none;
    margin: 0;
    padding: 0;
}

.reviews__title {
	font-size: 18px;
    line-height: 30px;
    color: #000;
    text-align: center;
}

.reviews__text {
	font-size: 14px;
    line-height: 30px;
    color: @text-darkblue;
    text-align: center;
    width: 280px;
    margin: 0 auto;
}

.reviews__toggles {
	
}