.upload {
  background-color: #f2f2f2;
  margin: 0 auto;
}

@media (min-width: @desktops) {
  .upload {
    width: 940px;
    margin: 0 auto;
  }
}

.upload__text-container {
  background-color: #ffffff;
}

.upload__text {
  font-size: 14px;
  line-height: 30px;
  color: @text-darkblue;
  text-align: center;
  width: 260px;
  margin: 0 auto;

  &:last-of-type {
    padding-bottom: 46px;
  }
}

@media (min-width: @tablets) {
  .upload__text {
    font-size: 18px;
    width: 425px;
  }
}

@media (min-width: @tablets) {
  .upload__img-edit-container {
    display: flex;
    justify-content: space-between;
    width: 620px;
  }
}

.upload__img-container {
  width: 280px;
  padding-top: 20px;
  padding-bottom: 42px;
  margin: 0 auto;
}

@media (min-width: @tablets) {
  .upload__img-edit-container {
	width: 50%;
  }
}

.upload__img {
  width: 100%;
}

@media (min-width: @desktops) {
  .upload__img {
    padding: 57px 80px;
  }
}

.upload__edit-list {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-bottom: 39px;
}

@media (min-width: @tablets) {
  .upload__edit-list {
    flex-direction: column;
  }
}

.upload__edit-item {
  width: 20px;
  height: 20px;
  outline: 2px solid red;

  &:nth-child(2),
  &:nth-child(3) {
    margin-left: 35px;
  }
}

@media (min-width: @desktops) {
  .upload__button-container {
    display: flex;
    width: 410px;
  }
}

.upload__upload-btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 12px;
  width: 280px;
  padding: 18px 90px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: @text-pink;
  border: 3px solid @text-pink;
  border-radius: 50px;
  background-color: #f2f2f2;
}

.upload__cancel-btn {
  display: block;
  margin: 0 auto;
  width: 280px;
  padding: 18px 90px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: @text-pink;
  border: 3px solid @text-pink;
  border-radius: 50px;
  background-color: #f2f2f2;

  &:disabled {
    border: 3px solid rgba(40, 54, 69, 0.1);
    color: rgba(40, 54, 69, 0.1);
  }
}

@media (min-width: @desktops) {
  .upload__upload-btn {
    width: 183px;
    padding: 20px 40px;
  }
}

@media (min-width: @desktops) {
  .upload__cancel-btn {
    width: 183px;
    padding: 20px 40px;
    margin-bottom: 12px;
  }
}
