.upload {
	background-color: #f2f2f2;
}

.upload__text-container {
	background-color: #fff;
}

.upload__text {
	font-size: 14px;
    line-height: 30px;
    color: @text-darkblue;
    text-align: center;
    width: 260px;
    margin: 0 auto;
}

.upload__img-container {
    width: 320px;
}

.upload__img {
	width: 100%;
    padding: 20px;
}

.upload-btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 12px;
    width: 280px;
    padding: 18px 90px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: @text-pink;
    border: 3px solid @text-pink;
    border-radius: 50px;
    background-color: #f2f2f2;
}

.cancel-btn {
    display: block;
    margin: 0 auto;
    width: 280px;
	padding: 20px 90px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: @text-pink;
    border: 3px solid @text-pink;
    border-radius: 50px;
    background-color: #f2f2f2;
}