.user-photo__promo-container {
	background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
}

.user-photo__title {
	font-size: 24px;
    font-weight: 300;
    color: #fff;
}

.user-photo__text {
	font-size: 14px;
    line-height: 30px;
    color: @text-darkblue;
}

.user-photo__item {
	background-color: #f2f2f2;
}

.user-photo__name {
	font-size: 14px;
    line-height: 24px;
    color: @text-darkblue;
}

.like-btn {
    font-size: 12px;
    line-height: 24px;
	color: @text-pink;
}

.like-count {
    font-size: 12px;
    line-height: 24px;
	color: @text-pink;
}