.user-photo__promo-container {
  margin: 0 auto;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 170px;
//  height: 237px;
}

@media (min-width: @tablets) {
  .user-photo__promo-container {
    height: 330px;
//    height: 438px;
  }
}

@media (min-width: @desktops) {
  .user-photo__promo-container {
    height: 394px;
  }
}

.user-photo__title {
  padding-top: 34px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  width: 180px;
  margin: 0 auto;
  color: #ffffff;
}

@media (min-width: @tablets) {
  .user-photo__title {
    padding-top: 70px;
    width: 370px;
    font-size: 50px;
    line-height: 60px;
  }
}

@media (min-width: @desktops) {
  .user-photo__title {
    padding-top: 73px;
  }
}

.user-photo__text {
  padding-top: 45px;
  padding-bottom: 58px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  width: 250px;
  margin: 0 auto;
  color: @text-darkblue;
}

@media (min-width: @tablets) {
  .user-photo__text {
    font-size: 18px;
    width: 450px;
    padding-top: 90px;
  }
}

.user-photo__list {
  list-style: none;
  margin: 0;
  padding: 0;

}

@media (min-width: @tablets) {
  .user-photo__list {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 620px;
  }
}

@media (min-width: @desktops) {
  .user-photo__list {
    width: 940px;
  }
}

.user-photo__item {

  margin-bottom: 20px;

}

@media (min-width: @tablets) {
  .user-photo__item {
    width: 300px;

    &:nth-of-type(2n) {
      margin-right: 20px;
    }
  }
}

@media (min-width: @desktops) {
  .user-photo__item {
    margin-top: 51px;
    margin-bottom: 0;

    &:nth-of-type(2n) {
      margin-right: 0;
    }

    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(5),
    &:nth-of-type(6) {
      margin-right: 20px;
    }
  }
}

@media (min-width: @tablets) {
  .user-photo__item--panorama {
    width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: @desktops) {
  .user-photo__item--panorama {
    width: 940px;
  }
}


.user-photo__img-container {
  width: 320px;
  height: 170px;
  margin: 0 auto;
}

@media (min-width: @tablets) {
  .user-photo__img-container {
    width: 100%;
    height: 300px;
  }
}

@media (min-width: @desktops) {
  .user-photo__img-container {
    width: 100%;
    height: 400px;
  }
}

.user-photo__photo {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.user-photo__item-container {
  width: 280px;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding: 0 20px;
  box-sizing: border-box;
}

.user-photo__name {
  margin: 0;
  padding-top: 14px;
  display: inline-block;
  color: @text-darkblue;
  font-weight: bold;
}

.user-photo__time {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  color: @text-darkblue;
  text-transform: uppercase;
}

.user-photo__comment {
  width: 240px;
  margin: 0;
  padding-bottom: 9px;
}

.user-photo__like-btn {
  position: relative;
  padding: 0;
  margin-left: 33px;
  margin-bottom: 20px;
  border: 0;
  background-color: #f2f2f2;
  font-family: inherit;
  font-size: 12px;
  line-height: 24px;
  color: @text-pink;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    display: block;
    left: -33px;
    top: 5px;
    background: url("../img/icon-heart.svg") no-repeat center;
    width: 13px;
    height: 12px;
  }
}

.user-photo__like-count {
  font-size: 12px;
  line-height: 24px;
  color: @text-pink;
}

@media (min-width: @tablets) {
  .user-photo__item-container--panorama {
    display: flex;
    flex-direction: row;
    width: 570px;
    flex-wrap: wrap;
  }

  .user-photo__name-container--panorama {
    width: 50%;
  }

  .user-photo__comment--panorama {
    order: 3;
  }

  .user-photo__like-container--panorama {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    order: 2;
    align-self: center;
    margin-left: auto;
  }
}

@media (min-width: @desktops) {
  .user-photo__item-container--panorama {
    width: 890px;
  }
}

.user-photo__img-container--panorama {
  padding: 0;
  width: 100%;
  height: 136px;
}

.user-photo__photo--panorama {
  padding: 0;
  width: 100%;
}
